<section class="settings">
  <h1>更改密码</h1>
  <div class="settings_box">
    <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

      <div class="form-group" ng-class="{ 'has_success': form.password.$valid && submitted,
                                          'has_error': form.password.$invalid && submitted }">
        <lx-text-field label="旧密码">
          <input type="password" name="password" ng-model="user.oldPassword" required mongoose-error>
        </lx-text-field>
        <p class="help_block" ng-show="form.password.$error.mongoose">
          {{ errors.other }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has_success': form.newPassword.$valid && submitted,
                                          'has_error': form.newPassword.$invalid && submitted }">
        <lx-text-field label="新密码">
          <input type="password" name="newPassword" ng-model="user.newPassword" requiredng-minlength="3" >
        </lx-text-field>
        <p class="help_block"
           ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
          密码长度必须大于3
        </p>
      </div>

      <p class="help_block"> {{ message }} </p>

      <button class="btn btn--m btn--blue btn--raised mt" type="submit" lx-ripple>变更提交</button>
    </form>
  </div>
</div>
