.settings {
  background-color: #fff;
  margin-top: 16px;
  width: 500px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 16px;
}

.settings>h1 {
  font-size: 20px;
}
.settings_operation {
  margin-top: 16px;
}
