.deps>h1 {
  font-size: 20px;
}
.deps_list {
  margin-top: 16px;
}
.deps_item_edit,.deps_item_delete {
  color: #fff;
  font-size: 12px;
  float: right;
}
.deps_add {
  float: right;
}
.deps_item {
  margin-bottom: 12px;
}
.deps_item_description {
  margin-bottom: 8px;
}
.deps_item_info {
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}
.deps_item_pages_link {
  float: left;
  display: block;
  text-transform: none;
}
.deps_edit,.deps_new {
  margin-top: 8px;
}
.deps_edit_loading {
  position: absolute;
  top: 0;
  right: 25px;
}
.deps_edit_title,.deps_new_title {
  font-size: 12px;
  color: rgba(0,0,0,.54);
  margin-bottom: 6px;
}
.deps_edit_item {
  float: left;
  background-color: #efefef;
  margin-right: 8px;
  margin-bottom: 6px;
}
.deps_edit_item_txt {
  font-size: 13px;
  padding: 4px 8px;
  color: #666;
  vertical-align: middle;
  display: inline-block;
}
.deps_new_select {
  margin-top: 0;
  float: left;
}
.deps_new_title_link {
  font-size: 12px;
  margin-left: 16px;
  color: #61B1DD;
}
.deps_new_title_link.active {
  color: #666;
}
