<section class="resources common_section">
  <h1 class="clearfix">静态资源管理<button ng-click="add()" class="btn btn--m btn--green btn--raised resources_add" lx-ripple>新增页面</button></h1>
  <div class="resources_list">
    <div class="card resources_item" ng-repeat="page in resources">
      <div class="card__header clearfix">
        <span class="resources_item_url">{{ page.uri }}</span>
        <button ng-click="delete($index)" class="resources_item_delete btn btn--m btn--red btn--icon" lx-ripple><i class="mdi mdi-delete"></i></button>
        <button ng-click="edit(page)" class="resources_item_edit btn btn--m btn--blue btn--icon" lx-ripple><i class="mdi mdi-pencil"></i></button>
      </div>
      <div class="card__body">
        <p class="resources_item_description">{{ page.description }}</p>
        <p class="resources_item_info">
          <span class="resources_item_author">创建者：{{ page.creator }}</span>
          <span class="resources_item_time">创建时间：{{ page.createTime | date:'yyyy-MM-dd HH:mm' }}</span>
        </p>
        <div class="resources_item_pages clearfix">
          <a href="/resources/{{ resource._id }}" ng-repeat="resource in page.resources" class="resources_item_pages_link btn btn--m btn--blue btn--flat" lx-ripple>{{ resource.uri }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<lx-dialog class="dialog dialog--l" id="editResourcesDialog" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
  <div class="dialog__header">
    <div class="toolbar bgc-light-blue-700 pl++">
      <span class="toolbar__label tc-white fs-title">
        编辑
      </span>
      <lx-progress class="resources_edit_loading" type="circular" color="#fff" ng-if="currentEdit.showLoading"></lx-progress>
    </div>
  </div>

  <div class="dialog__content pl++ pr++">
    <div>
      <lx-text-field label="页面url" error="!uriValidation(currentEdit.uri)">
        <input type="text" ng-model="currentEdit.uri">
      </lx-text-field>
      <span class="text-field-error" ng-if="!uriValidation(currentEdit.uri)">url格式错误</span>
    </div>
    <div>
      <lx-text-field label="页面说明" error="!emptyValidation(currentEdit.description)">
        <input type="text" ng-model="currentEdit.description">
      </lx-text-field>
      <span class="text-field-error" ng-if="!emptyValidation(currentEdit.description)">页面说明不能为空</span>
    </div>
    <div class="resources_edit">
      <p class="resources_edit_title">编辑资源列表</p>
      <ul class="resources_edit_list">
        <li class="resources_edit_item clearfix" ng-repeat="resource in currentEdit.resources"><span class="resources_edit_item_txt">{{ resource.uri }}</span><button class="btn btn--s btn--red btn--icon" ng-click="deleteCurrentOne($index)" lx-ripple><i class="mdi mdi-minus-circle"></i></button></li>
      </ul>
    </div>
    <div class="resources_new">
      <button class="btn btn--s btn--green btn--raised" ng-click="addOne()" lx-ripple>新增一个</button>
      <ul class="resources_new_list">
       <li class="resources_new_item" flex-container="row" flex-align="end end" flex-gutter="24" ng-repeat="newResource in currentEdit.newResources">
        <div flex-item>
          <lx-text-field class="resources_new_item_input" label="资源url">
            <input type="text" ng-model="newResource.uri">
          </lx-text-field>
        </div>
        <div flex-item>
          <lx-text-field class="resources_new_item_input" label="资源类型">
            <input type="text" ng-model="newResource.type">
          </lx-text-field>
        </div>
        <button class="float--left btn btn--m btn--red btn--icon" ng-click="deleteOne($index)" lx-ripple><i class="mdi mdi-minus-circle"></i></button>
       </li>
      </ul>
    </div>
  </div>

  <div class="dialog__actions">
    <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>取消</button>
    <button class="btn btn--m btn--black btn--flat" ng-click="saveEdit()" lx-ripple>确定</button>
  </div>
</lx-dialog>
